pkgbase = tabletcfg
	pkgdesc = Graphics tablet configurator for X11/libinput: screen area, rotation, pen pressure and button remapping
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/viniciusorig/tabletcfg
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-gobject
	depends = gtk3
	depends = python-pyudev
	depends = xorg-xinput
	depends = xorg-xrandr
	depends = xf86-input-libinput
	depends = systemd
	depends = sudo
	source = tabletcfg-0.1.0.tar.gz::https://github.com/viniciusorig/tabletcfg/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = bb6fc6df6816e2ab366a042a96c827511ff549385f2c3e9d4d264e7d277967ab

pkgname = tabletcfg
